
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Business Process
    :css
      input[type=checkbox]{
      \/* Double-sized Checkboxes */
      \-ms-transform: scale(4); /* IE */
      \-moz-transform: scale(4); /* FF */
      \-webkit-transform: scale(4); /* Safari and Chrome */
      \-o-transform: scale(4); /* Opera */
      transform: scale(4);
      padding: 10px;
      display: inline;}
    :css
      .table.table-borderless {border:0px !important;}
      .fixed-table-container {border:5px !important;}
      .table.table-border {border:0px !important;}
      .table.table-border th, .table td {border: 0px !important;}
    :css
      span {height:14px; width:24px; background:red; border-radius:2px; font-size:17px; color:white; font-family:Verdana; text-shadow: 1px 1px black;}

    %center
      %h1= @business_process.name
    %br
    
    -@business_process.risks.each_with_index do |ris, x|
      %ul
        %li
        %h2 Risk
        %li=ris.name
        %h5 
          Kecelakaan Lalu Lintas
          %span.badge.badge-danger.mx-3 Medium
          %span.badge.badge-danger Operational Risk

      %table.table.table-border
        %thead
          %tr
            %th{:scope => "col"} Risk Name
            %th{:scope => "col"} Level of Risk
            %th{:scope => "col"} Type of Risk
            %th{:scope => "col"} Business Process
        %tbody
          %tr
            %td #{ris.name}
            %td #{ris.level_of_risk.to_s.gsub(/_/, ' ').titlecase}
            %td #{ris.type_of_risk.to_s.gsub(/_/, ' ').titlecase}
            %td #{ris.business_process.name.capitalize}
      %br
      %table.table.table-borderless
        %thead
          %tr
            %th{:scope => "col"} #
            %th{:scope => "col"} Type of Control
            %th{:scope => "col"} Control Owner
            %th{:scope => "col"} Frequency
            %th{:scope => "col"} Nature
            %th{:scope => "col"} Assertion
            %th{:scope => "col"} Ipo
            %th{:scope => "col"} Status
            %th{:scope => "col"} Key Control
        -ris.controls.each_with_index do |con,i|
          %tbody
            %tr
              %td{:scope => "row"} #{i+1}
              %td #{con.type_of_control.to_s.gsub(/[^0-9A-Za-z]/, ' ').titlecase}
              %td #{con.control_owner.to_s.gsub(/[^0-9A-Za-z]/, ' ').titlecase}
              %td #{con.frequency.to_s.gsub(/[^0-9A-Za-z]/, ' ').titlecase}
              %td #{con.nature.to_s.gsub(/[^0-9A-Za-z]/, ' ').titlecase}
              %td #{con.assertion.to_s.gsub(/[^0-9A-Za-z]/, ' ').titlecase}
              %td #{con.ipo.to_s.gsub(/[^0-9A-Za-z]/, ' ').titlecase}
              %td #{con.status.to_s.gsub(/[^0-9A-Za-z]/, ' ').titlecase}
              %td 
                -if con.key_control
                  .risk
                    %input#coding{:checked => "checked", :name => "interest", :type => "checkbox", :value => "true"}/
                    %label{:for => "true"} True
                  .risk
                    %input#false{:name => "interest", :type => "checkbox", :value => "false"}/
                    %label{:for => "false"} False
                -else
                  .risk
                    %input#true{:name => "interest", :type => "checkbox", :value => "true"}/
                    %label{:for => "true"} True
                  .risk
                    %input#false{:checked => "checked", :name => "interest", :type => "checkbox", :value => "false"}/
                    %label{:for => "false"} False

  


      / %p{:style => "page-break-after:always;"}
      / / %p{:style => "page-break-after:auto;"}
