
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Business Process
    :css
      input[type=checkbox]{
      \/* Double-sized Checkboxes */
      \-ms-transform: scale(3.5); /* IE */
      \-moz-transform: scale(3.5); /* FF */
      \-webkit-transform: scale(3.5); /* Safari and Chrome */
      \-o-transform: scale(3.5); /* Opera */
      transform: scale(3.5);
      padding: 1px;}
    :css
      .table.table-borderless {border:10px !important;}
      .risk {margin-top:15px;}
      hr.new5 {
      border: 2px solid #D85604;
      border-radius: 5px;}
      th,td{max-width: 50%;}

      
    :css
      th{font-size:12px;}
      td{font-size:12px;}
      .tab{ margin-left:40px;}
      .ape{font-size:24px; text-align:left;}
      .aps{font-size:36px;}
      .mege{text-shadow: 0.5px 0.5px black;}
      .aha{border:none;}

      
    
    :css
      span {position:relative; bottom:1.7px; background:#F32013; border-radius:6px; font-size:15px; color:white; font-family: Georgia,-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif!important;-webkit-font-smoothing: antialiased; padding:1px 5px 4px;}


    %table.table.table-borderless.aha{style:"display:block;"}
      %tr.aha
        %td.aha Printed On
        %td.aha :
        %td.aha #{Time.now.strftime("%d %B %Y")}
        

      %tr.aha
        %td.aha Printed By
        %td.aha :
        %td.aha= current_user&.name
    %h1.aps Risk & Controls
    
    -@business_process.risks.each_with_index do |ris, x|
      %ul
        %li
          %h3 
            R.#{ris.id}: #{ris.name.titlecase}
            -if ris&.level_of_risk&.present?
              -if ris&.level_of_risk == "low"
                %span{:style => "background:#28a745;"} #{ris.level_of_risk.to_s.gsub(/_/, ' ').titlecase}
              -elsif ris&.level_of_risk == "medium"
                %span{:style => "background:#ffc107;color:black;"} #{ris.level_of_risk.to_s.gsub(/_/, ' ').titlecase}
              -elsif ris&.level_of_risk == "high"
                %span{:style => "background:#dc3545;"} #{ris.level_of_risk.to_s.gsub(/_/, ' ').titlecase}
            -if ris.type_of_risk.present?
              %span{:style => "background:#6c757d;"} #{ris.type_of_risk.to_s.gsub(/_/, ' ').titlecase}
      -if ris.controls.present? == false
      -else
        %h4{style: "margin-bottom:0px;"} 
          %u Associated Control(s)
        %table.table.table-borderless
          %thead
            %tr
              %th.mege.text-center{:scope => "col"} No
              %th.mege.text-center{:scope => "col"} Control Description
              %th.mege.text-center{:scope => "col"} Type of Control
              %th.mege.text-center{:scope => "col"} Control Owner
              %th.mege.text-center{:scope => "col"} Frequency
              %th.mege.text-center{:scope => "col"} Nature
              %th.mege.text-center{:scope => "col"} Assertion
              %th.mege.text-center{:scope => "col"} IPO
              %th.mege.text-center{:scope => "col"} Status
              %th.mege.text-center{:scope => "col"} Key Control
          -ris.controls.each_with_index do |con,i|
            %tbody
              %tr
                %td.text-center{:scope => "row"} #{i+1}
                %td.text-center #{con.description.to_s.gsub(/[^0-9A-Za-z]/, ' ').titlecase.html_safe}
                %td.text-center #{con.type_of_control.to_s.gsub(/[^0-9A-Za-z]/, ' ').titlecase.html_safe}
                %td.text-center #{con.control_owner.join(",")}
                %td.text-center #{con.frequency.to_s.gsub(/[^0-9A-Za-z]/, ' ').titlecase.html_safe}
                %td.text-center #{con.nature.to_s.gsub(/[^0-9A-Za-z]/, ' ').titlecase.html_safe}
                %td.text-center= con.convert_assertion.join(",")
                %td.text-center= con.convert_ipo.join(",")
                %td.text-center #{con.status.to_s.gsub(/[^0-9A-Za-z]/, ' ').titlecase}
                %td 
                  -if con.key_control == true
                    .risk.text-center
                      %input#checkboxG5.css-checkbox{:checked => "checked", :name => "checkboxG5", :type => "checkbox"}/
                      %label.css-label{:for => "checkboxG5"}
                  -else
                    .risk.text-center
                      %input#checkboxG4.css-checkbox{:name => "checkboxG4", :type => "checkbox"}/
                      %label.css-label{:for => "checkboxG4"}
          %br
          %br
    
    %p{:style => "page-break-after:always;"}

    %p{:style => "page-break-after:auto;"}

    %h1.ape Risk & Controls (Direct Controls)
    %table.table.table-borderless
      %thead
        %tr
          %th.mege.text-center{:scope => "col"} No
          %th.mege.text-center{:scope => "col"} Control Description
          %th.mege.text-center{:scope => "col"} Type of Control
          %th.mege.text-center{:scope => "col"} Control Owner
          %th.mege.text-center{:scope => "col"} Frequency
          %th.mege.text-center{:scope => "col"} Nature
          %th.mege.text-center{:scope => "col"} Assertion
          %th.mege.text-center{:scope => "col"} IPO
          %th.mege.text-center{:scope => "col"} Status
          %th.mege.text-center{:scope => "col"} Key Control
      -@business_process.controls.each_with_index do |con,i|
        %tbody
          %tr
            %td.text-center{:scope => "row"} #{i+1}
            %td.text-center #{con.description.to_s.gsub(/[^0-9A-Za-z]/, ' ').titlecase.html_safe}
            %td.text-center #{con.type_of_control.to_s.gsub(/[^0-9A-Za-z]/, ' ').titlecase.html_safe}
            %td.text-center #{con.control_owner.join(",")}
            %td.text-center #{con.frequency.to_s.gsub(/[^0-9A-Za-z]/, ' ').titlecase.html_safe}
            %td.text-center #{con.nature.to_s.gsub(/[^0-9A-Za-z]/, ' ').titlecase.html_safe}
            %td.text-center= con.convert_assertion.join(",")
            %td.text-center= con.convert_ipo.join(",")
            %td.text-center #{con.status.to_s.gsub(/[^0-9A-Za-z]/, ' ').titlecase}
            %td 
              -if con.key_control == true
                .risk.text-center
                  %input#checkboxG5.css-checkbox{:checked => "checked", :name => "checkboxG5", :type => "checkbox"}/
                  %label.css-label{:for => "checkboxG5"}
              -else
                .risk.text-center
                  %input#checkboxG4.css-checkbox{:name => "checkboxG4", :type => "checkbox"}/
                  %label.css-label{:for => "checkboxG4"}


      -# %p{:style => "page-break-after:always;"}
      %p{:style => "page-break-after:auto;"}
