!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title #{@policy&.title}
    :css
      body{
        font-family: Georgia, 'Times New Roman', Times, serif;

      }
      strong{
        font-size:11px;
      }
      p{
        font-size:11px;
      }

  %body
    %h1{style:"font-size:20px;"} #{@policy&.title&.html_safe}
    %em{style:"font-size:8px;"} Published Date: #{Time.now.strftime("%C %m %G")}
    %p #{@policy&.description&.html_safe}
    %strong
      %em= @policy.children.pluck(:id).map {|x| Policy.find(x).references.pluck(:name)}.join(" ")
    %ul
      -@policy&.children&.each do |chil|
        %li{style:"margin-top: 10px;"}
          %b="P#{chil.id}.#{chil&.title&.html_safe}"
        %em{style:"font-size:8px;"} Published Date: #{Time.now.strftime("%C %m %G")}
        %p= chil&.description&.html_safe
        %strong
          %em= chil.references.pluck(:name).join(" ")
        %ul
          -chil&.children&.each do |chilo|
            %li{style:"margin-top: 10px;"}
              %b="P#{chilo.id}.#{chilo&.title&.html_safe}"
            %em{style:"font-size:8px;"} Published Date: #{Time.now.strftime("%C %m %G")}
            %p= chilo&.description&.html_safe
            %strong
              %em= chilo.references.pluck(:name).join(" ")
            %ul
              -chilo&.children&.each do |chili|
                %li{style:"margin-top: 10px;"}
                  %b="P#{chili.id}.#{chili&.title&.html_safe}"
                %em{style:"font-size:8px;"} Published Date: #{Time.now.strftime("%C %m %G")}
                %p= chili&.description&.html_safe
                %strong
                  %em= chili.references.pluck(:name).join(" ")
                %ul
                  -chili&.children&.each do |chilu|
                    %li{style:"margin-top: 10px;"}
                      %b="P#{chilu.id}.#{chilu&.title&.html_safe}"
                    %em{style:"font-size:8px;"} Published Date: #{Time.now.strftime("%C %m %G")}
                    %p= chilu&.description&.html_safe
                    %strong
                      %em= chilu.references.pluck(:name).join(" ")
                    %ul
                      -chilu&.children&.each do |chile|
                        %li{style:"margin-top: 10px;"}
                          %b="P#{chile.id}.#{chile&.title&.html_safe}"
                        %em{style:"font-size:8px;"} Published Date: #{Time.now.strftime("%C %m %G")}
                        %p= chile&.description&.html_safe
                        %strong
                          %em= chile.references.pluck(:name).join(" ")