!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Report Risk without Control
    :css
      .table.table-borderless {border:10px !important;}
      .aha{border:none;}
    :javascript
      $(window).load(function () {
        var vars={};
        var x=window.location.search.substring(1).split('&');
        for (var i in x) {
          var z=x[i].split('=',2);
          vars[z[0]] = unescape(z[1]);
        }
        document.getElementById('page').innerHTML = vars.page; 
        document.getElementById('topage').innerHTML = vars.topage;
      });

  %body
    -# %center
    -#   %h2 Exception Report Risk without Control
    -# %table.table.table-borderless.aha{style:"display:block;"}
    -#   %tr.aha
    -#     %td.aha Printed On
    -#     %td.aha :
    -#     %td.aha #{Time.now.strftime("%d %B %Y")}
        

    -#   %tr.aha
    -#     %td.aha Printed By
    -#     %td.aha :
    -#     %td.aha= current_user&.name
    %center
      %table.table.table-borderless
        %thead
          
        -z = 1
        -x=1
        -@risks.each do |ris| 
          -zone = ActiveSupport::TimeZone.new("Jakarta")
          -if ris.business_processes.present?
            -ris&.business_processes.each do |bus|
              -if ris.policies.present?
                -ris.policies.each do |pol|
                  %tbody
                    %tr
                      %td.text-center{:scope => "row",:style => "width: 5%"} #{z}
                      %td.text-center.apo{:scope => "row", :style => "width: 10%"} #{bus&.name&.capitalize}
                      %td.text-center.ape{:scope => "row", :style => "width: 12%"} #{ris.name.to_s.gsub(/[^0-9A-Za-z]/, ' ').capitalize.html_safe}
                      %td.text-center.apo{:scope => "row", :style => "width: 10%"} #{ris.type_of_risk.to_s.gsub(/[^0-9A-Za-z]/, ' ').capitalize.html_safe}
                      %td.text-center.apo{:scope => "row", :style => "width: 10%"} #{ris.level_of_risk.to_s.gsub(/[^0-9A-Za-z]/, ' ').capitalize.html_safe}
                      %td.text-center.apo{:scope => "row", :style => "width: 10%"} #{pol&.title&.capitalize&.html_safe}
                      -if ris&.versions&.find_by(event:"create")&.whodunnit.present?
                        %td.text-center.apo{:scope => "row",:style => "width: 12%"}=User&.find(ris&.versions&.find_by(event:"create")&.whodunnit).name
                      -else
                        %td.text-center.apo{:scope => "row",:style => "width: 12%"}
                      -if ris&.versions&.find_by(event:"create")&.present?
                        %td.text-center.apo{:scope => "row",:style => "width: 10%"}=ris&.versions&.find_by(event:"create")&.created_at.in_time_zone(zone).inspect.sub(" +07:00", "")
                      -else
                        %td.text-center.apo{:scope => "row",:style => "width: 10%"}
                      -if ris&.updated_at.present?
                        %td.text-center.ape{:scope => "row",:style => "width: 10%"}=ris&.updated_at.in_time_zone(zone).inspect.sub(" +07:00", "")
                      -else
                        %td.text-center.apo{:scope => "row",:style => "width: 10%"}
                      -if ris&.versions&.last&.whodunnit.present?
                        %td.text-center.ape{:scope => "row",:style => "width: 11%"}=User&.find(ris&.versions&.last&.whodunnit)&.name
                      -else
                        %td.text-center.apo{:scope => "row",:style => "width: 11%"}
                      -z+=1
              -else
                %tbody
                  %tr
                    %td.text-center{:scope => "row",:style => "width: 5%"} #{z}
                    %td.text-center.apo{:scope => "row", :style => "width: 10%"} #{bus&.name&.capitalize}
                    %td.text-center.ape{:scope => "row", :style => "width: 12%"} #{ris.name.to_s.gsub(/[^0-9A-Za-z]/, ' ').capitalize.html_safe}
                    %td.text-center.apo{:scope => "row", :style => "width: 10%"} #{ris.type_of_risk.to_s.gsub(/[^0-9A-Za-z]/, ' ').capitalize.html_safe}
                    %td.text-center.apo{:scope => "row", :style => "width: 10%"} #{ris.level_of_risk.to_s.gsub(/[^0-9A-Za-z]/, ' ').capitalize.html_safe}
                    %td.text-center.apo{:scope => "row", :style => "width: 10%"} No Related Policies
                    -if ris&.versions&.find_by(event:"create")&.whodunnit.present?
                      %td.text-center.apo{:scope => "row",:style => "width: 12%"}=User&.find(ris&.versions&.find_by(event:"create")&.whodunnit).name
                    -else
                      %td.text-center.apo{:scope => "row",:style => "width: 12%"}
                    -if ris&.versions&.find_by(event:"create")&.present?
                      %td.text-center.apo{:scope => "row",:style => "width: 10%"}=ris&.versions&.find_by(event:"create")&.created_at.in_time_zone(zone).inspect.sub(" +07:00", "")
                    -else
                      %td.text-center.apo{:scope => "row",:style => "width: 10%"}
                    -if ris&.updated_at.present?
                      %td.text-center.ape{:scope => "row",:style => "width: 10%"}=ris&.updated_at.in_time_zone(zone).inspect.sub(" +07:00", "")
                    -else
                      %td.text-center.apo{:scope => "row",:style => "width: 10%"}
                    -if ris&.versions&.last&.whodunnit.present?
                      %td.text-center.ape{:scope => "row",:style => "width: 11%"}=User&.find(ris&.versions&.last&.whodunnit)&.name
                    -else
                      %td.text-center.apo{:scope => "row",:style => "width: 11%"}
                    -z+=1
          -else
            -if ris.policies.present?
              -ris.policies.each do |pol|
                %tbody
                  %tr
                    %td.text-center{:scope => "row",:style => "width: 5%"} #{z}
                    %td.text-center.apo{:scope => "row", :style => "width: 10%"} No Business Process
                    %td.text-center.ape{:scope => "row", :style => "width: 12%"} #{ris.name.to_s.gsub(/[^0-9A-Za-z]/, ' ').capitalize.html_safe}
                    %td.text-center.apo{:scope => "row", :style => "width: 10%"} #{ris.type_of_risk.to_s.gsub(/[^0-9A-Za-z]/, ' ').capitalize.html_safe}
                    %td.text-center.apo{:scope => "row", :style => "width: 10%"} #{ris.level_of_risk.to_s.gsub(/[^0-9A-Za-z]/, ' ').capitalize.html_safe}
                    %td.text-center.apo{:scope => "row", :style => "width: 10%"} #{pol&.title&.capitalize&.html_safe}
                    -if ris&.versions&.find_by(event:"create")&.whodunnit.present?
                      %td.text-center.apo{:scope => "row",:style => "width: 12%"}=User&.find(ris&.versions&.find_by(event:"create")&.whodunnit).name
                    -else
                      %td.text-center.apo{:scope => "row",:style => "width: 12%"}
                    -if ris&.versions&.find_by(event:"create")&.present?
                      %td.text-center.apo{:scope => "row",:style => "width: 10%"}=ris&.versions&.find_by(event:"create")&.created_at.in_time_zone(zone).inspect.sub(" +07:00", "")
                    -else
                      %td.text-center.apo{:scope => "row",:style => "width: 10%"}
                    -if ris&.updated_at.present?
                      %td.text-center.ape{:scope => "row",:style => "width: 10%"}=ris&.updated_at.in_time_zone(zone).inspect.sub(" +07:00", "")
                    -else
                      %td.text-center.apo{:scope => "row",:style => "width: 10%"}
                    -if ris&.versions&.last&.whodunnit.present?
                      %td.text-center.ape{:scope => "row",:style => "width: 11%"}=User&.find(ris&.versions&.last&.whodunnit)&.name
                    -else
                      %td.text-center.apo{:scope => "row",:style => "width: 11%"}
                    -z+=1
            -else
              %tbody
                %tr
                  %td.text-center{:scope => "row",:style => "width: 5%"} #{z}
                  %td.text-center.apo{:scope => "row", :style => "width: 10%"} No Business Process
                  %td.text-center.ape{:scope => "row", :style => "width: 12%"} #{ris.name.to_s.gsub(/[^0-9A-Za-z]/, ' ').capitalize.html_safe}
                  %td.text-center.apo{:scope => "row", :style => "width: 10%"} #{ris.type_of_risk.to_s.gsub(/[^0-9A-Za-z]/, ' ').capitalize.html_safe}
                  %td.text-center.apo{:scope => "row", :style => "width: 10%"} #{ris.level_of_risk.to_s.gsub(/[^0-9A-Za-z]/, ' ').capitalize.html_safe}
                  %td.text-center.apo{:scope => "row", :style => "width: 10%"} No Related Policies
                  -if ris&.versions&.find_by(event:"create")&.whodunnit.present?
                    %td.text-center.apo{:scope => "row",:style => "width: 12%"}=User&.find(ris&.versions&.find_by(event:"create")&.whodunnit).name
                  -else
                    %td.text-center.apo{:scope => "row",:style => "width: 12%"}
                  -if ris&.versions&.find_by(event:"create")&.present?
                    %td.text-center.apo{:scope => "row",:style => "width: 10%"}=ris&.versions&.find_by(event:"create")&.created_at.in_time_zone(zone).inspect.sub(" +07:00", "")
                  -else
                    %td.text-center.apo{:scope => "row",:style => "width: 10%"}
                  -if ris&.updated_at.present?
                    %td.text-center.ape{:scope => "row",:style => "width: 10%"}=ris&.updated_at.in_time_zone(zone).inspect.sub(" +07:00", "")
                  -else
                    %td.text-center.apo{:scope => "row",:style => "width: 10%"}
                  -if ris&.versions&.last&.whodunnit.present?
                    %td.text-center.ape{:scope => "row",:style => "width: 11%"}=User&.find(ris&.versions&.last&.whodunnit)&.name
                  -else
                    %td.text-center.apo{:scope => "row",:style => "width: 11%"}
                  -z+=1

      %p{:style => "page-break-after:always;"}
      %p{:style => "page-break-after:auto;"}
      -x+=1 

