!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Report Risk
    :css
      .table.table-borderless {
        border:10px !important;
        }
      .aih{font-size:20px}
      .aha{border:none;}
      .ehe{margin-top:30px;}

  %body
    -# %center
    -#   %h2.aih Exception Report Risk Without Policy 

    -# %table.table.table-borderless.aha{style:"display:block;"}
    -#   %tr.aha
    -#     %td.aha Printed On
    -#     %td.aha :
    -#     %td.aha #{Time.now.strftime("%d %B %Y")}
        

    -#   %tr.aha
    -#     %td.aha Printed By
    -#     %td.aha :
    -#     %td.aha= current_user&.name
    %table.table.table-borderless
      %thead
      
      -z = 1
      -@risks.each do |ris|
        -zone = ActiveSupport::TimeZone.new("Jakarta")
        -if ris.business_processes.present?
          -ris.business_processes.each do |bus|
            %tbody
              %tr
                %td.text-center{:scope => "row", :style => "width: 6%"} #{z}
                %td.text-center.apo{:scope => "row", :style => "width: 12%"}=bus&.name&.capitalize 
                %td.text-center.apo{:scope => "row",:style => "width: 13%"}=ris.name.capitalize.html_safe 
                %td.text-center.apo{:scope => "row",:style => "width: 12%"} #{ris.type_of_risk.to_s.gsub(/[^0-9A-Za-z]/, ' ').capitalize.html_safe}
                %td.text-center.apo{:scope => "row",:style => "width: 12%"} #{ris.level_of_risk.to_s.gsub(/[^0-9A-Za-z]/, ' ').capitalize.html_safe}
                -if ris&.versions&.find_by(event:"create")&.whodunnit.present?
                  %td.text-center.apo{:scope => "row",:style => "width: 12%"}=User&.find(ris&.versions&.find_by(event:"create")&.whodunnit).name
                -else
                  %td.text-center.apo{:scope => "row",:style => "width: 12%"}
                -if ris&.versions&.find_by(event:"create")&.present?
                  %td.text-center.apo{:scope => "row",:style => "width: 10%"}=ris&.versions&.find_by(event:"create")&.created_at.in_time_zone(zone).inspect.sub(" +07:00", "")
                -else
                  %td.text-center.apo{:scope => "row",:style => "width: 10%"}
                -if ris&.updated_at.present?
                  %td.text-center.ape{:scope => "row",:style => "width: 10%"}=ris&.updated_at.in_time_zone(zone).inspect.sub(" +07:00", "")
                -else
                  %td.text-center.apo{:scope => "row",:style => "width: 10%"}
                -if ris&.versions&.last&.whodunnit.present?
                  %td.text-center.ape{:scope => "row",:style => "width: 11%"}=User&.find(ris&.versions&.last&.whodunnit)&.name
                -else
                  %td.text-center.apo{:scope => "row",:style => "width: 11%"}
                -z+=1
        -else 
          %tbody
            %tr
              %td.text-center{:scope => "row", :style => "width: 6%"} #{z}
              %td.text-center.apo{:scope => "row", :style => "width: 12%"} No Business Process
              %td.text-center.apo{:scope => "row",:style => "width: 13%"}=ris.name.capitalize.html_safe 
              %td.text-center.apo{:scope => "row",:style => "width: 12%"} #{ris.type_of_risk.to_s.gsub(/[^0-9A-Za-z]/, ' ').capitalize.html_safe}
              %td.text-center.apo{:scope => "row",:style => "width: 12%"} #{ris.level_of_risk.to_s.gsub(/[^0-9A-Za-z]/, ' ').capitalize.html_safe}
              -if ris&.versions&.find_by(event:"create")&.whodunnit.present?
                %td.text-center.apo{:scope => "row",:style => "width: 12%"}=User&.find(ris&.versions&.find_by(event:"create")&.whodunnit).name
              -else
                %td.text-center.apo{:scope => "row",:style => "width: 12%"}
              -if ris&.versions&.find_by(event:"create")&.present?
                %td.text-center.apo{:scope => "row",:style => "width: 10%"}=ris&.versions&.find_by(event:"create")&.created_at.in_time_zone(zone).inspect.sub(" +07:00", "")
              -else
                %td.text-center.apo{:scope => "row",:style => "width: 10%"}
              -if ris&.updated_at.present?
                %td.text-center.ape{:scope => "row",:style => "width: 10%"}=ris&.updated_at.in_time_zone(zone).inspect.sub(" +07:00", "")
              -else
                %td.text-center.apo{:scope => "row",:style => "width: 10%"}
              -if ris&.versions&.last&.whodunnit.present?
                %td.text-center.ape{:scope => "row",:style => "width: 11%"}=User&.find(ris&.versions&.last&.whodunnit)&.name
              -else
                %td.text-center.apo{:scope => "row",:style => "width: 11%"}
              -z+=1
    %p{:style => "page-break-after:always;"}
    %p{:style => "page-break-after:auto;"}
    -# %center
    -#   %h2.aih Exception Report Risk Without Policy 


    