!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title #{@risk.name}
  %body
  .row.m-t-10.text-center
    .col-md-12
      %h1 #{@risk.name}
  %ul   
    .row.m-t-10
      .col-md-12
        %li 
          %h3 #{"Level of Risk       :"} #{@risk.level_of_risk.to_s.gsub(/_/, ' ').titlecase}
    .row.m-t-10
      .col-md-12
        %li  
          %h3 Risk Status           : #{@risk.status.to_s.gsub(/_/, ' ').titlecase}
    .row.m-t-10
      .col-md-12
        %li
          %h3 Type of Risk         : #{@risk.type_of_risk.to_s.gsub(/_/, ' ').titlecase}
    .row.m-t-10
      .col-md-12
        %li
          %h3 Business Process : #{@risk.business_process.name.capitalize}
    
    